<p id="notice"><%= notice %></p>

<% t='false' %>
<% @exam_applications.each do |exam_application| %>


<% if(exam_application.exam_id==params[:id])%>



<%end %>
<%end %>
<% if(t=='false') %>
<% @u=ExamApplication.new %>
<% u=ExamApplication.create :apply=>'true', :exam_id=>params[:id], :student_id=>1%>
<p> USPJESNO STE PRIJAVLJENI </P>
<%end%>
<% if(t=='true') %>
<p> Vec ste prijavljeni na ovaj ispit </p>
<% end %>
