<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

<link href="assets/business-casual.css" rel="stylesheet">
<script src="assets/application.js"></script>
</head>
<body>
<div class="bg-faded p-4 my-4">
        
<form>
 
    
   <div class="form-group col-md-6">
    <input type="text" class="form-control" placeholder="Ime">
   </div>
   <div class="form-group col-md-6">
    <input type="text" class="form-control" placeholder="Prezime">
   </div>
   <div class="form-group col-md-6">
    <input type="text" class="form-control" placeholder="JMBG">
   </div>
   <div class="form-group col-md-6">
    <label for="date" >Datum rođenja</label>
    <input type="date" class="form-control" id="datum" placeholder="Datum rođenja">
   </div>
   <div class="form-group col-md-6">
    <input type="text" class="form-control" placeholder="Mjesto rođenja">
   </div>
   <div class="form-group col-md-6">
    <input type="text" class="form-control" placeholder="Telefon">
   </div>
   <div class="form-group col-md-6">
    <input type="text" class="form-control" placeholder="Email">
   </div>
    <div class="form-group col-md-6">
     <label for="inputState">Spol</label>
    <select id="inputState" class="form-control">
        <option selected>Izaberi</option>
        <option>Muško</option>
        <option>Žensko</option>
      </select>
  </div>
    <div class="form-group col-md-6">
    <label for="exampleInputFile">Dodaj CV</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    
  </div>
    <div class="form-group col-md-6">
    <label for="exampleTextarea">Motivaciono pismo</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <div class="form-group col-md-6">
 <button type="submit" class="btn btn-primary">Pošalji</button>
</div>

</form>
</div>
</body>
</html>


